<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <script src="/js/chart.js" defer></script>
</head>

<body>
    <%- include("partials/navbar", { charts }) %>
        <main>
            <h1 id="title">COGNOME E NOME</h1>
            <p id="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum provident sunt qui porro accusamus? Fugiat ipsa animi cumque cupiditate soluta quod autem delectus enim quae iure voluptates id repellat corporis officia qui, fuga magnam laboriosam, distinctio architecto eius quasi. Architecto corporis magnam officiis minima vitae aspernatur tempora sint ex. Voluptatum, praesentium recusandae explicabo fugit accusamus odit laboriosam ab possimus repellendus dicta. Assumenda aspernatur doloribus quam hic ad sequi nulla expedita. Asperiores porro sint dolor officiis magni quis maiores architecto et, voluptatibus nulla in, cumque aliquam illo eum. Laborum quod, soluta asperiores illo voluptatibus eaque deleniti a, eius, optio ad esse.</p>
        </main>
</body>

</html>