@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #292626;
}

main {
    flex: 1;
    flex-direction: column;
    height: 70vh;
    display: flex;
    align-items: center;
    width: 85vw;
    justify-content: space-evenly;
    padding: 0 5rem;
}

#arrowCont {
    position: absolute;
    display: flex;
    align-items: flex-end;
    right: 20px;
}

#arrowCont > a {
    color: white;
    font-size: x-large;
    transition: .3s;
    cursor: pointer;
    align-self: center;
}

#arrowCont > a:hover {
    color: #37c9ef;
}

#arrowBtn {
    padding: 5px;
}

#info {
    width: 40vw;
    background: rgba(31, 31, 31, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    position: relative;
    width: 100%;
    text-align: center;
}
